@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=IBM+Plex+Mono:wght@300&family=Open+Sans&display=swap');

.cursor{
    cursor: pointer;
    color: white;
    font-family: Fredoka One,cursive ;
}
.text-decorator-none{
    text-decoration: none;
}

.appbar{
    background-color:#34a0a4ff!important;
   list-style-type: none;
   width: 100vw;
   height: 70px;
   
}

