
.caixa{
    background-color: #FFFCEE;
 
 }
 
 .titulo{
     color: white !important;
     font-weight:bold !important;
     align-self: center;
     text-align: center;

 }
 
 .botao{
     border-color: #1a759fff !important;
     background-color:  #1e6091ff !important;
     color: white !important;
 }
 .postagens{
     background-color:#E9DDC3;
 
 }

 .textoInfo{
    background-color:#76c893ff;
    display: flex;
    justify-content:center ;
    height: 250px;
    margin-bottom: 100px !important
 }