
/* @import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');
*{
    font-family: 'Bacasime Antique', serif !important;
} */
    
.caixa1{
    background-color: rgb(220, 235, 235) !important;
 
 }
 
 .titulo1{
     color: white !important;
     font-weight:bold !important;
     align-self: center;
     text-align: center;

 }
 
 .botao{
     border-color: #1a759fff !important;
     background-color:  #1e6091ff !important;
     background: linear-gradient(to bottom, #b5e48c 5%, #168aad 100%);
     color: white !important;
     height: 150px;
     width: 350px;
     font-size: 30px !important;
     margin-bottom: 100px !important;
     border-radius: 2rem !important;
 }
 .postagens{
    background-color: rgb(220, 235, 235);
     
 }

 .textoInfo{
    background-color:#76c893ff !important;
    display: flex;
    justify-content:center ;
    height: 250px;
    margin-bottom: 100px !important

 }


 