
.caixa{
    background-color: #FFFCEE;
 
 }
 
 .titulo{
     color:#57cc99ff !important;
     font-weight:bold !important;
 }
 
 .botao{
     border-color: #22577aff !important;
     background-color: #22577aff !important;
     color: white !important;
 }
 .postagens{
     background-color:#E9DDC3;
 
 }