.textos {
    font-weight: bold !important;
}

.text-decorator-none {
    text-decoration: none;
}

.imagem {
    background-image: url(/src/assets/images/renewable-1989416.jpg
    );
    background-repeat: no-repeat;
    width: 1000vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.fundoForm {
    margin: 0px;
    backdrop-filter: blur(20px);
    border-radius: 5%;
    box-shadow: 0 0 70px;
   
}

.textos{
    color: #1a759fff !important;
    
}

.texto1{
    color: white;
}

.caixa{
    background-color: white;
    display: flex !important;
    justify-content: center !important;
    width:350px !important;
}

.cadastro{
    color: #1a759fff  !important;
    
}

body{
    margin-top: 0px ;
}

