@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Roboto:wght@100&display=swap');


.fotosDev{

    border-radius: 50%;
}

.titulo{

    font-family: 'Bacasime Antique'
}

.imagemCentral{

    border-radius: 50%;
    
}