@media (max-width: 1000px) {
    .swiper {
      width: 700px;
    }
  }
  
  @media (min-width: 1000px) {
    .swiper {
      width: 950px;
    }
  }
  
  .swiper {
    margin-top: 50px;
    height: 550px;
    width: 1410px;
    margin-bottom: 50px !important;
  
  }
  
  .swiper-slide img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 20%;
  }
  
  .swiper {
  
    margin-right: auto;
  }
  
  .mySwiper {
  
  
    background-color: transparent;
  
  }
  
  .mySwiper .swiper-pagination-bullet {
    background-color: white;
    /* substitua #ff0000 pela cor desejada */
    margin-bottom: 0rem !important;
    }
  
  .mySwiper .swiper-button-next,
  .mySwiper .swiper-button-prev {
    color: white;
  }
  
  .mySwiper .swiper-slide img {
    display: block;
    margin: 0 auto;
  }