.topo {
    border-radius: 20px;
    background-color: rgb(220, 235, 235) !important;
    border-color: rgb(94, 126, 126) !important;
    height: 450px;
    width: 600px;
    text-align: center;

}

body{
    margin-top: 71px ;
}